body{
    background: url(../images/星空.jpg)no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
}

a{
	color: #ffffff;
}


.muv-box{
	background: #ffffff;
}

.muv-box li{
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab-pane{
	margin-top: 10px;
	margin-bottom: 100px;
}

