.fakeimg{
	width: 40%;
	height: auto;
}


.footer-menu-icon,.footer-menu-icon2,.footer-menu-icon3{
	width: 23.404%;
	color: #7d8589;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	float: left;
	
}


.footer-menu-icon2,.footer-menu-icon3{
	margin: 0 1%;
}

.footer-menu-icon{
	margin-right: 1%;
}

.footer-menu-icon4{
	width: 23.404%;
	color: #7d8589;
	font-size: 0.8125rem;
	line-height: 1.2rem;
	font-family: Times New Roman;
	float: right;
}

.footer-icon4-l{
	margin-top: 20px;
}

.footer-menu{
	margin: 41px auto 66px;
}




.footer-icon1{
	margin: 23px auto;
	line-height: 1.2rem;
}



.footer-icon2{
	margin: 22px auto 22px;
	line-height: 1.2rem;
}

.input-email{
	width: 100%;
	height: 35px;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	color: #c1c8cb;
	border: 1px solid #d9d9d9;
	text-indent: 1em;
}

.submit-email{
	margin: 10px auto;
	width: 91px;
	height: 36px;
	text-align: center;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	border-radius: 5px;
	border: 1px solid #3d7f19;
	list-style: none;
	color: #ffffff;
	background: #52a922;
}

.ppubic-footer{
	clear: both;
}

.ppubic-footer-star{
	height: 100px;
	border: 1px solid #d4d4d4;
}




.footer-end-menu{
	font-size: 0.8125rem;
	font-family: Times New Roman;
	line-height: 67px;
}



.text-widget{
	margin: 28px auto;
}

.text-widget .text-widget-l{
	float: left;
	width: 60%;

}

.text-widget .text-widget-l span{
	font-family: Times New Roman;
	font-size: 1.125rem;
	color: #3e4b51;
	font-weight: bold;
}

.text-widget .text-widget-l p{
	margin-top: 10px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	font-weight: bold;
	color: #8b9397;
}

.text-widget .text-widget-r{
	float: right;
}

.text-widget .text-widget-r .text-widget-r-bin{
	width: 140px;
	height: 53px;
	background: #eb5340;
	font-family: Times New Roman;
	font-size: 0.875rem;
	color: #ffffff;
	text-align: center;
	line-height: 53px;
	border-radius: 5px;
}

