<div class="diver">
	<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">招聘信息</a></li>
  <li><a href="#profile" data-toggle="tab">企业图片</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">2019招聘表格</div>
  <div class="tab-pane" id="profile">img</div>
  <div class="tab-pane" id="messages">通过以上措施，可尽快缓解公司专业人才缺乏的紧张局面。
  并形成一批经营管理、园林绿化、市政建设、物流、房地产等专业合理、业务精湛的人才力量，使企业形成一种积极向上、
  尊重知识、尊重人才的良好氛围，有利于优秀人才的健康成长。</div>
  <div class="tab-pane" id="settings">
	  <div class="row">
	    <div class="col-md-6">
	  	  <ol>
	  		  <li>在利益上的双赢。</li>
	  		  <li>鼓励学习，不断提高。随着建筑市场各种管理法规的不断完善，对人才的要求越来越高，
	  	  公司要建立奖励制度，鼓励员工积极学习，考取适合公司发展的各种执业资格。为赢得市场做好人才储备。</li>
	  		  <li>待公司新招聘的人员到岗后，公司要制定措施，定编定岗。在工作中鼓励竞争，对于公司内部少量文化程度低、
	  	  专业不对口、出工不出力的人员，调离现有管理岗位，充实到生产一线。</li>
	  	</ol>
	  	</div>
	   <div class="col-md-6">
		   通过以上措施，可尽快缓解公司专业人才缺乏的紧张局面。
		   并形成一批经营管理、园林绿化、市政建设、物流、房地产等专业合理、业务精湛的人才力量，使企业形成一种积极向上、
		   尊重知识、尊重人才的良好氛围，有利于优秀人才的健康成长
	   </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
	  <h2 class="text-center">企业文化</h2>
	  <ol>
		  <li>在利益上的双赢。</li>
		  <li>鼓励学习，不断提高。随着建筑市场各种管理法规的不断完善，对人才的要求越来越高，
	  公司要建立奖励制度，鼓励员工积极学习，考取适合公司发展的各种执业资格。为赢得市场做好人才储备。</li>
		  <li>待公司新招聘的人员到岗后，公司要制定措施，定编定岗。在工作中鼓励竞争，对于公司内部少量文化程度低、
	  专业不对口、出工不出力的人员，调离现有管理岗位，充实到生产一线。</li>
	</ol>
	</div>
  <div class="col-md-4">
	  <h2 class="text-center">荣誉墙</h2>
	   <ol>
	  	  <li>在利益上的双赢。</li>
	  	  <li>鼓励学习，不断提高。随着建筑市场各种管理法规的不断完善，对人才的要求越来越高，
	    公司要建立奖励制度，鼓励员工积极学习，考取适合公司发展的各种执业资格。为赢得市场做好人才储备。</li>
	  	  <li>待公司新招聘的人员到岗后，公司要制定措施，定编定岗。在工作中鼓励竞争，对于公司内部少量文化程度低、
	    专业不对口、出工不出力的人员，调离现有管理岗位，充实到生产一线。</li>
	  </ol>
  </div>
  <div class="col-md-4">
	  <h2 class="text-center">优秀员工</h2>
	   <ol>
	  	  <li>在利益上的双赢。</li>
	  	  <li>鼓励学习，不断提高。随着建筑市场各种管理法规的不断完善，对人才的要求越来越高，
	    公司要建立奖励制度，鼓励员工积极学习，考取适合公司发展的各种执业资格。为赢得市场做好人才储备。</li>
	  	  <li>待公司新招聘的人员到岗后，公司要制定措施，定编定岗。在工作中鼓励竞争，对于公司内部少量文化程度低、
	    专业不对口、出工不出力的人员，调离现有管理岗位，充实到生产一线。</li>
	  </ol>
  </div>
</div>
