
		<!-- nav -->
		<div class="commom-box title">
		<div class="common-container title-header clearfloat">
			<div class="title-header-l-h">
			<p>LYK and Bear #1: No Food Deed Unpunished<br/><span>by Jonh Doe</span></p>
			</div>
			<div class="title-header-l">		
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">Updates (0)</a></li>
					<li><a href="">Backers (270)</a></li>
					<li><a href="">Comments (2)</a></li>
				</ul>
				<div class="info-txtbox">
				<div class="info-txt">
				<form>
					<div style="margin-left: 27px;">
					Name: <input type="text" name="email" placeholder="John Doe" class="name-input"><br/>
					<i class="input-i">Your name is displayed on your profile.</i>
					</div>
					<div style="margin: 30px 0 30px 10px;">
						Location: <input type="text" name="email" placeholder="United Kingdon, London" class="name-input">
						<input type="submit" class="Location-submit" name="" value="Choose location">
					</div>
					<div style="margin: 30px 0 30px 0;">
						Time zone: <input type="text" name="email" placeholder="" class="Time-zone-input">
					</div>
					<div>
						Biography: <input type="text" name="email" placeholder="" class="Biography-input"><br/>
						<i class="input-i">You can set a vanity URL here/ Ince set. this vanity URL can not be changed.</i>
					</div>
					<div style="margin-left: -8px; margin-top: 43px;">
						Profile URL:<input type="text" name="email" placeholder="John Doe" class="name-input"><br/>
						<i class="input-i">You can set a vanity URL here/ Ince set. this vanity URL can not be changed.</i>
					</div>
					<div style="margin-left: 10px; margin-top: 35px;">
						Websites: <input type="text" name="email" placeholder="United Kingdon, London" class="Websites-input">
						<input type="submit" class="Websites-submit" name="" value="ADD">
					</div>
					<input type="submit" class="settings-submit" name="" value="Save all settings">
				</form>
				</div>
			</div>
			

				

			</div>
			<div class="title-header-r">
						<div class="buck2">
							<div class="buckbox2">
								<div>Project by</div>
								<div class="imgbox">
								<a href="" class="buck-img">
								</a>
								</div>
								<div class="imgbox-txt">John Doe<br/>
								<br/>
								Chicago, IL<br/>
								<span>5 projects</span>
								</div>
								
								<div style="clear: both;">
									<a href="" class="buck-bin2 bin2-color">Contact me</a>
									<a href="" class="buck-bin2 bin3-color">See full bio</a>
								</div>
							</div>
						</div>

			</div>
		</div>
		</div>

		
		
		
		

