body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  border: none;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix{overflow: auto;
  zoom: 1;
}

.commom-box{
	max-width: 1200px;
	margin: 0 auto;
}

.common-container{
	max-width: 940px;
	padding-left:10px;
	padding-right:10px;
	margin: 0 auto;
}

.header{
	background: #3e4b51;
}


.header .noleft{
	margin-left: 0;
}

.header li{
	display: inline-block;
	margin: 11px 22px;
	font-size: 0.8125rem;
}

.header ul a{
	color: #9fa5a8;
}



.icon{
	float: left;
	line-height: 81px;
}

.icon2{
	font-family: Times New Roman;
	font-size: 22px;
	color: #afbbc1;
	display: inline-block;
	margin: 0 4px;
}

.icon2 a{
	color: #afbbc1;
}

.simlp-title{
	background: blue;
}

.simlp-title ul{
	margin: 24px 0 24px 60px;
	display: inline-block;
	list-style: none;
	float: left;
}

.simlp-title ul li a{
	font-size: 13px;
	color: #afbbc1;
}
	



.border{
	float: left;
	height: 27px;
	margin: 29px 27px 0;
	display: inline-block;
	border: 1px dashed #afbbc1;
}

.header-menu {
	margin: 0 auto;
	clear: both;
}

.headerbox {
	margin: 0 auto;
}



.searchform {
	padding-top: 24px;
}

.radius {
	margin-right: 100px;
	overflow: hidden;

}

.radius-input {
	float: right;
	border-radius: 20px ;
	font-size: 1,5em;
	color: #909da3;
	height: 36px;
	background: #f9f9f9;
	border: 1px solid #d9d9d9;
	text-indent: 2em;
	width: 100%;
}

.radius2 {
	width: 80px;
	height: 31px;
	background: #ed3d3d;
	border-radius: 5px;
	float: right;
	color: #ffffff;
	font-size: 0.8125rem;
	font-family: Myriad Pro;
	border: none;
}

.radius3 {
	width: 60px;
	height: 31px;
	background: #ed3d3d;
	border-radius: 5px;
	float: right;
	color: #ffffff;
	font-size: 0.8125rem;
	font-family: Myriad Pro;
	border: none;
}





.footer-menu-icon,.footer-menu-icon2,.footer-menu-icon3{
	width: 23.404%;
	color: #7d8589;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	float: left;
}


.footer-menu-icon2,.footer-menu-icon3{
	margin: 0 10px;
}

.footer-menu-icon{
	margin-right: 10px;
}

.footer-menu-icon4{
	width: 23.404%;
	color: #7d8589;
	font-size: 0.8125rem;
	line-height: 1.2rem;
	font-family: Times New Roman;
	float: right;
}

.footer-icon4-l{
	margin-top: 20px;
}

.footer-menu{
	margin: 41px auto 66px;
}




.footer-icon1{
	margin: 23px auto;
	line-height: 1.2rem;
}



.footer-icon2{
	margin: 22px auto 22px;
	line-height: 1.2rem;
}

.input-email{
	width: 100%;
	height: 35px;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	color: #c1c8cb;
	border: 1px solid #d9d9d9;
	background: #f9f9f9;
	text-indent: 1em;
}

.submit-email{
	margin: 10px auto;
	width: 91px;
	height: 36px;
	text-align: center;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	border-radius: 5px;
	border: 1px solid #3d7f19;
	list-style: none;
	color: #ffffff;
	background: #52a922;
}

.ppubic-footer-star{
	height: 100px;
	background: #f9f9f9;
	border: 1px solid #d4d4d4;
}


.footer-end{
	background: #f9f9f9;
	border: 1px solid #d4d4d4;
}

.footer-end-menu{
	font-size: 0.8125rem;
	font-family: Times New Roman;
	line-height: 67px;
}











