.content{
	background: #f9f9f9;
}

.title{
	font-family: Times New Roman;
	font-size: 3.125rem;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
}

.star{
	border: 1px solid #d4d4d4;
	background: #ffffff;
	padding: 30px 29px;
}

.star .main{
	float: left;
	width: 33%;
	
}

.star .main .main-txt{
	font-family: Times New Roman;
	font-size: 1.125rem;
}

.main-txt p{
	margin-top: 25px;
	word-spacing: -2.75px;
	font-size: 0.8125rem;
}

.star .main .main-bin{
	margin-top: 32px;
	width: 100%;
	padding: 21px 0;
	background: #ea513d;
	text-align: center;
	font-family: Times New Roman;
	font-size: 1.3125rem;
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;
	display: block;
}

.main-bin span{
	color: #f6b8b0;
	font-size: 0.8125rem;
	text-align: center;
}

.main-bin-txt{
	margin-top: 14px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	text-align: center;
	color: #a8aeb1;

}

.star .imgbox{
	float: right;
	width: 58%;
	height: 424px;
	border: 1px solid #d9d9d9;
	
}

.star .imgbox .img{
	width: 98%;
	height: 98%;
	background: #f0f0f0;
	margin: 4px auto;
}

.txt{
	margin-top: 29px;
	padding-bottom: 79px;
	font-family: Times New Roman;
	font-size: 1.125rem;
}

.txt p{
	font-size: 0.8125rem;
	margin-top: 18px;
}


.txt .txt1{
}

.txt1-1,.txt1-2{
	width: 50%;
}

.txt .txt1 .txt1-1{
	float: left;
}

.txt .txt1 .txt1-2{
	float: right;
}

.txt2{
	clear: both;
}

.txt2 .txt2-1{
	width: 33.333%;
	float: left;
	margin-top: 30px;
}

