.ppubic-title{
	height: 362px;
	background: #3e4b51;
	position: relative;
}

.slider{
	width: 460px;
}

.slider-txt{
	padding-top: 40px;
	font-size: 45px;
	font-family: Times New Roman;
	color: #ffffff;
	line-height: 3rem;
}

.slider-txt2{
	padding: 27px 0;
	font-size: 1rem;
	font-family: Times New Roman;
	color: #ffffff;
	line-height: 1.5rem;
}

.slider-submit{
	width: 140px;
	height: 40px;
	background: #323c41;
	text-align: center;
	line-height: 40px;
}

.slider-submit a{
	color: #848a8d;
}

.nav-dots {
    width: 100%;
    bottom: 10px;
	left: 0;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {  
	bottom: 0;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background:transparent;
	border: 1px solid #2b3439;
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.content{
	margin: 46px auto;
}

.featured{
}

.featured .featured-l{
	float: left;
	width: 32%;
	background: #f0f0f0;
	border: 1px solid #cccccc;
}

.featured .featured-l ul{
	list-style: none;
	margin: 30px auto 26px;
	line-height: 26px;
}

.featured .title-nav{
	margin: 30px 0 30px 30px;
	font-family: Times New Roman;
}

.featured .title-nav p{
	margin-top: 20px;
	margin-right: 30px;
	font-size: 0.8125rem;
	font-family: Times New Roman;
	color: #5c666b;
}

.featured .title-nav ul li{
	font-weight: bold;
}




.featured .featured-r{
	float: right;
	width: 66%;
}




.title-header-l{
	float: left;
	font-size: 1.75rem;
	font-weight: bold;
	font-family: Times New Roman;
	color: #576267;
}

.title-header-r{
	float: right;
	font-family: Times New Roman;
	font-size: 0.875rem;
	line-height: 33px;
}

.featured-r-body-star{
	margin-top: 21px;
	padding: 26px 28px;
	border: 1px solid #d9d9d9;
}



.featured-r-body-l{
	float: left;
	width: 49.193%;
	height: 220px;
	border: 1px solid #d9d9d9;
}

.featured-r-body-r{
	float: right;
	width: 39.193%;
	font-family: Times New Roman;
}

.featured-r-body-end{
	background: #f0f0f0;
	border: 1px solid #d9d9d9;
}

.featured-r-body-end .featured-r-body-end1{
	width: 77px;
	height: 77px;
	background: url(../img/indicator.png)no-repeat;
	text-align: center;
	line-height: 77px;
	margin: 10px 28px;
	display: inline-block;
}


.featured-r-body-end2{
	margin-left: 53px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #babec0;
}

.featured-r-body-end2,.featured-r-body-end2 div{
	display:inline-block;
}

.border2{	
	height: 27px;
	margin: 29px 27px 0;
	display: inline-block;
	border: 1px dashed #afbbc1;
}

.popular{
	background: #f0f0f0;
	border: 1px solid #cccccc;
}


.popular-headerbox{
	margin: 20px auto;
}

.popular .popular-header .popular-header-l{
	float: left;
	font-size: 1.75rem;
	font-family: Times New Roman;
	font-weight: bold;
}

.popular .popular-header .popular-header-r{
	float: right;
	font-size: 0.875rem;
	font-family: Times New Roman;
	font-weight: bold;
	line-height: 28px;
}

.popular-items{
	width: 23.404%;
	border: 1px solid #cccccc;
	display: inline-block;
	vertical-align:middle;
	background: #ffffff;
	margin-right: 1%;
	margin-bottom: 50px;
}

.popular-items-picterbox{
	width: 92.272%;
	height: 148px;
	border: 1px solid #cccccc;
	margin:  8px auto 0;
}

.popular-items-picter{
	width: 93.103%;
	height: 134px;
	line-height: 148px;
	background: red;
	margin: 7px auto;
}

.popular-nav{
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 0.9375rem;
	color: #3e4b51;
	margin: 16px 10px;
}

.popular-nav span{
	color: #b2b7b9;
	font-size: 0.8125rem;
}

.popular-nav p{
	margin: 16px auto;
	font-size: 0.8125rem;
	line-height: 1.25rem;
}





.popular-end{
	background: #f0f0f0;
	border-top: 1px solid #cccccc;
	text-align: left;
	margin: 0 auto;
}

.popular-endbox{
	text-align: center;
}

.popular-endbox div{
	display: inline-block;
	color: #a9aeb0;
	font-family: Times New Roman;
	font-size: 0.75rem;
	margin: 18px auto;
}

.popular-end span{
	color: #3e4b51;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 0.875rem;
}



.popular-end img{
	width: 100%;
	height: auto;
	margin: 18px auto 0;
}


.text-widget{
	margin: 28px auto;
}

.text-widget .text-widget-l{
	float: left;
	width: 60%;

}

.text-widget .text-widget-l span{
	font-family: Times New Roman;
	font-size: 1.125rem;
	color: #3e4b51;
	font-weight: bold;
}

.text-widget .text-widget-l p{
	margin-top: 10px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	font-weight: bold;
	color: #8b9397;
}

.text-widget .text-widget-r{
	float: right;
}

.text-widget .text-widget-r .text-widget-r-bin{
	width: 140px;
	height: 53px;
	background: #eb5340;
	font-family: Times New Roman;
	font-size: 0.875rem;
	color: #ffffff;
	text-align: center;
	line-height: 53px;
	border-radius: 5px;
}



.facebook-widfetbox{
	padding: 48px 0;
	background: #f9f9f9;
	border: 1px solid #cccccc;
}


.facebook-widfet{
	height: 360px;
	background: blue;
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

.facebook-widfet .facebook-widfet-title{
	width: 75%;
	height: 120px;
	position: absolute; 
	top: 0;
	bottom: 0;
	left: 0; 
	right: 0; 
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto; 
	margin-right: auto; 
	background: yellow;
}

.thumbs-top{
	position: absolute;
	width: 12.5%;
	height: 33.888%;
	background: red;
	top: 0;
}


.widfet1{ left: 0;}
.widfet2{ left: 12.5%;}
.widfet3{ left: 25%;}
.widfet4{ left: 37.5%;}
.widfet5{ left: 50%;}
.widfet6{ left: 62.5%;}
.widfet7{ left: 75%;}
.widfet8{ left: 87.5%;}

.thumbs-l,.thumbs-r{
	position: absolute;
	width: 12.5%;
	height: 33.888%;
	background: red;
	top: 122px;
}

.widfet9{ left: 0;}
.widfet10{ right: 0;}


.thumbs-bottom{
	position: absolute;
	width: 12.5%;
	height: 33.888%;
	background: red;
	bottom: 0;
}



.facebook-widfet .facebook-widfet-title p{
	font-family: Times New Roman;
	font-size: 1.75rem;
	float: left;
	width: 53%;
	margin-top: 36px;
	margin-left: 32px;
}

.facebook-widfet .facebook-widfet-title .bin{
	float: right;
	width: 31.666%;
	height: 47px;
	font-family: Times New Roman;
	font-size: 0.875rem;
	color: #ffffff;
	background: #4274b8;
	text-align: center;
	line-height: 47px;
	border-radius: 5px;
	margin-top: 36px;
	margin-right: 32px;
}