
.title{
	padding-top: 32px;
	background: #f9f9f9;
}


.title-header .title-header-l{
	float: left;
	width: 75.468%;
	border: 1px solid #d4d4d4;
	margin-bottom: 32px;
}




.title-header-l-h p{
	font-family: Times New Roman;
	font-size: 1.625rem;
	font-weight: bold;
	color: #576267;
	margin-bottom: 29px;
}

.title-header-l-h span{
	font-family: Times New Roman;
	font-size: 0.875rem;
	color: #9ba2a5;
}

.title-header .title-header-l .video{
	width: 100%;
	background: #ffffff;
	float: left;
}

.video .video-box{
	width: 304px;
	height: 218px;
	border: 1px solid #d9d9d9;
	margin: 33px 20px;
	float: left;
}

.video .video-box .video-bin{
	width: 98%;
	height: 210px;
	margin: 5px auto;
	background: #f0f0f0;
	position: relative;
}

.video-txt{
	margin: 30px auto;
	font-family: Times New Roman;
	font-size: 1.125rem;
}

.video-txt span{
	padding: 18px auto;
	font-size: 0.8125rem;
}

.video-txt p{
	font-size: 0.8125rem;
}



.bin{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0; 
	right: 0; 
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto; 
	margin-right: auto; 
}



.title-header .title-header-r{
	float: right;
	width: 23.404%;
	margin-top: -87px;
}

.featured-r-body-end{
	background: #f0f0f0;
}

.featured-r-body-end .featured-r-body-end1{
	width: 77px;
	height: 77px;
	background: url(../img/indicator.png)no-repeat;
	text-align: center;
	line-height: 77px;
	margin: 10px 28px;
	display: inline-block;
}


.featured-r-body-end2{
	margin-left: 53px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #babec0;
}

..featured-r-body-end2 span{
	font-family: Times New Roman; 
	font-size: 18px; 
	color: #626c71;
	font-weight: bold;
}

.featured-r-body-end2,.featured-r-body-end2 div{
	display:inline-block;
}

.border2{	
	height: 27px;
	margin: 29px 27px 0;
	display: inline-block;
	border: 1px dashed #afbbc1;
}

.title-header-l ul{
	overflow: hidden;
	margin-top: 26px;
}

.title-header-l ul li{
	display: inline-block;
	font-family: Times New Roman; 
	font-size: 0.8125rem;
	margin: 16px 18px;
}

.title-header-l ul li a{
	color: #5c666b;
}

.info-txtbox{
	background: #ffffff;
	padding: 0 17.5px;
}

.inof-txt{	
	font-family: Times New Roman;
	font-size: 1.125rem;
	font-weight: bold;
}


.info-txt span{
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #b2b7b9;
}

.info-txtbox p{
	font-family: Times New Roman;
	font-size: 0.8125rem;
	margin-top: 26px;
	color: #7d8589;
}

.info-p{
	width: 553px;
	height: 408px;
	margin: 5px auto;
	background: #f0f0f0;
}

.info-txt-picter{
	width: 90.08%;
	height: 420px;
	border: 1px solid #d9d9d9;
	margin: 25px auto;
}

.info-txt-picter .info-txt-picterbox{
	width: 98%;
	height: 408px;
	background: #f0f0f0;
	margin: 6px auto;
}

.share-buttons{
	margin-top: 71px;
}

.title-header-end{
	margin: 30px auto 35px;
	width: 27.142%;
	background: #ea523e;
	border-radius: 5px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	display: block;
}

.title-header-end2{
	width: 154px;
	height: 43px;
	background: #ea523e;
	border-radius: 5px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	display: inline-block;
}

.buck{
	background: #f0f0f0;
	border: 1px solid #cccccc;
}

.buckbox{
	margin: 21px 0 0 20px;
}




.buck ul{
	overflow: hidden;
	line-height: 1.5rem;
}


.buck li{
	font-family: Times New Roman;
	font-size: 0.8125rem;
	list-style: none;
	
}

.buck .buck-bin{
	width: 95%;
	background: #54ab23;
	text-align: center;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #FFFFFF;
	line-height: 1.5rem;
	padding: 15px 0;
	border-radius: 5px;
	margin: 20px 0;
	display: block;
}

.buck-bin span{
	font-family: Times New Roman;
	font-size: 1.125rem;
	color: #FFFFFF;
}

.buckbox p{
	font-family: Times New Roman;
	font-size: 0.8125rem;
	line-height: 1.5rem;
	word-spacing: -1px;
	margin-bottom: 27px;
}


.buck2{
	list-style: none;
	margin-top: 30px;
	background: #f0f0f0;
	border: 1px solid #cccccc;
}

.buckbox2{
	margin: 25px 0 25px 20px;
}

.imgbox{
	width: 100px;
	height: 98px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	float: left;
	margin-top: 14px;
}

.buck-img{
	display: block;
	width: 92px;
	height: 90px;
	margin: 4px auto;
	background: #f0f0f0;
}

.imgbox-txt{
	margin-top: 14px;
	margin-left: 21px;
	float: left;
	font-family: Times New Roman;
	font-size: 0.8125rem;	
	color: #3e4b51;
}
.imgbox-txt span{
	font-family: Times New Roman;
	font-size: 0.8125rem;
	color: #a3a8ab;
}

.buck-bin2{
	width: 99px;
	height: 32px;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	border-radius: 5px;
	margin-top: 21px;
}

.bin2-color{
	background:#ea513e;
	color: #ffffff;
}

.bin3-color{
	background: #fdfdfd;
	color: #626262;
	border: 1px solid #bcbcbc;
}

#pledge{
	display: block;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 0.875rem;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 50px;
}



.pledge-color{
	color: #ffffff;
	background: black;
}


.buck3{
	list-style: none;
	margin-top: 30px;
	background: #f0f0f0;
	border: 1px solid #cccccc;
	
}






.list{
	background: #ffffff;
	font-family: Times New Roman;
	font-size: 0.8125rem;
	padding: 32px 0 32px 32px;
}

.list-1 p{
	line-height: 1.25rem;
}

.list-1 span{
	display: inline-block;
	margin: 26px auto;
}

.pledge-bin{
	float: right;
	margin: 33px 22px;
	width: 21.42%;
	text-align: center;
	line-height: 37px;
	color: #ffffff;
	background: #ea513e;
	display: inline-block;
	border-radius: 5px;
}

.list-2 span{
	color: #979da0;
}



