{{include '../public/header'}}
{{include '../public/nav'}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header">添加新闻</h2>
  <form action="#" id="formModal"  novalidate="novalidate">
      <div class="form-group">
        <label for="title">标题：</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder="标题"
        />
      </div>
      <div class="form-group">
          <label for="editor">内容：</label>
          <div id="editor" style="min-height: 400px">
           
          </div>
        </div> 
          <input type="hidden" name="content" id="content" value="" />
          <input type="hidden" name="note" id="note" value=""/>
      <div class="checkbox">
        <label> <input type="checkbox" name="status"  checked="checked"/> 启用 </label>
      </div>
      
      <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>

<script>
var quill = new Quill('#editor', {
    theme: 'snow',
     modules: {
        imageDrop: true
    }
});
quill.on('text-change', function(delta, oldDelta, source) {
  if (source == 'api') {

    console.log("An API call triggered this change.");
    var delta = quill.getText();
  } else if (source == 'user') {
    var note = quill.getText(0,255);
    var delta = quill.getContents();
    console.log("A user action triggered this change.");
    console.log(delta)
    $("#content").val(JSON.stringify(delta))
    $("#note").val(note)
  }
});

	 $(function(){
		    //自定义手机码验证
		    jQuery.validator.addMethod("phone", function(value, element) {
		    return this.optional(element) || /^1[3|4|5|7|8]\d{9}$/.test(value);
		    }, "手机号码不正确");
			 //表单验证
			var formModal = $('#formModal');
			formModal.validate({
					 messages: {
							 title:{
									 required: "请输入标题"
							 },
							 content:{
									 required: "请输入内容",
							 },
					 },
					 rules: {
               title:{
									 required: true
							 },
							 content: {
									 required: true
							 }
					 },
					 highlight: function (element) { // hightlight error inputs
							 $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
					 },
		
					 unhighlight: function (element) { // revert the change done by hightlight
							 $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
					 },
					 success: function (label) {
							 label.closest('.form-group').removeClass('has-error'); // set success class to the control group
							 return true;
					 },
					 submitHandler: function() {
               var url = '/api/news/add';
							 $.ajax({
									 url:url,
									 type:'post',
									 dataType: 'json',
									 data:formModal.serialize(),
									 async: false,
									 success:function(data){
										 if(data.ok){
                       window.location = "/admin/news"
											console.log('成功！')
										 }else{
                        console.log('失败！')
										 }
									 }
							 });
							 return false;
					 }
		
			});
		
		   
})
			
    	
    
</script>
{{include '../public/footer'}}
