<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=siteTitle%></title>
</head>
<body>
    <form action="/doAdd" method="post">
        用户名：<input type="text" name="username" value=""><br><br>
        年龄：<input type="text" name="age" value=""><br><br>
        性别：男<input type="radio" name="sex" value="男"  > 女<input type="radio" name="sex" value="女" ><br><br>
        状态：启用<input type="radio" name="status" value="0" > 禁用<input type="radio" name="status" value="1" ><br><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>