
{{include './public/header'}}
<div class="container ">
        <form class="form-signin" action="/login" method="post" style="max-width: 330px;padding: 15px;margin: 0 auto;">
                <h2 class="form-signin-heading">登录</h2>
                <label for="inputEmail" class="sr-only">用户名：</label>
                <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">密码：</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
              </form>
{{include './public/footer'}}
